@font-face {
    font-family: 'FiraSans';
    src: url('/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffe300ff;
    color: #001caeff;
    font-family: 'FiraSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FiraSans', sans-serif;
}

button {
    background-color: #001caeff;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    font-size: 15px;
    font-family: 'FiraSans', sans-serif;
}